:root{
    --primary-color:#06206a;
    --secondary-color:#f9f9f9;
    --padding:20px;
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}

p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}


#example-one{
    height: 150px;
    width: 150px;
    background-color: #bada55;
    border-radius: 10px;
    margin: 10px;


}
#example-two{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
    border: solid #bada55;
}
#example-three{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
    border: solid #435f45;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpXjgqZ-nodYhpWGVlXH7LpBNuEG823FQYrg&s)
    ;
}
#example-four{
    height: 150px;
    width: 150px;
    border-radius: 5px 70px 5px;
    margin: 10px;
    border: solid #bada55;
}
#example-five{
    height: 150px;
    width: 150px;
    border-radius: 10px/30px;
    margin: 10px;
    border: solid #bada55;
}
#example-six{
    height: 150px;
    width: 150px;
    border-radius: 30px/30px;
    margin: 10px;
    border: solid  #bada55;
}